@charset "utf-8";
@use "sass:math";

.l-mv{
  padding-top: 19rem;
  padding-bottom: 19rem;
}

.l-notice{
  padding-top: 7rem;
  padding-bottom: 6rem;
}

.l-voice{
  padding-top: 12.5rem;
  padding-bottom: 13rem;
}

.l-reason{
  
}