@charset "utf-8";
@use "sass:math";
@use "../../global" as *;


.p-notice{
  background: url("./images/bg-notice.svg") , $lightblue;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  color: $white;
  position: relative;
}


.p-notice__inner{
  max-width: 55.4rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  position: relative;
  text-align: center;
}



.p-notice__texts{

}

.p-notice__paragraph{
  font-size: 5rem;
  font-weight: 600;
  
}
.p-notice__paragraph2{
  margin-top: 2rem;
  font-size: 3.4rem;
  font-weight: 600;

}

.p-notice__button{
  margin-top: 2rem;
}
