@charset "utf-8";
@use "sass:math";
@use "../../global" as *;

.p-voice__title{
  font-size: 4rem;
  font-weight: 300;
  text-align: center;

}

.p-voice__inner{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.p-voice__body{
  margin-top: 8.5rem;
  padding: 0 10rem;
}

.p-voice__items{
  max-width: 82rem;
  width: 100%;
  border: 1px solid $black;
  margin: 0 auto;
  border-radius: 1rem;

}

.p-voice__item{

}



/*
カードの情報
*/

.card{
  width: 100%;
  padding: 3rem;
}

.card__title{
  font-size: 3.6rem;
  background-color: $lightgreen;
  color: $white;
  padding: 2.3rem;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  position: relative;
}

.card__title::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22.368421%;
  height: 100%;
  background: url("./images/shadow.svg");
  background-repeat: no-repeat;
}

.card__contents{
  margin-top: 2rem;
  display: flex;
}

.card__img{
  width: math.div(353.42, 760) * 100%;
  position: relative;
}

.card__img:before{
  content:"";
  display: block;
  padding-top: math.div(312.6,353.42)* 100%;
}

.card__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}



.card__text{
  flex: 1;
  margin-left: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card__paragraph{
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.7;
}


.card__intro{
  margin-top: 2.3rem;
  padding: 1.5rem;
  border: 1px solid $black;
  border-radius: 1rem; 
}

.card__price{
  font-size: 2.4rem;
  font-weight: 300;
}

.card__family{
  margin-top: 1rem;
  padding-top: 1rem;
  position: relative;
}

.card__family::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: $black;

  position: absolute;
  top: 0;
  left: 0;
  
}

.card__familyTop{

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card__family dt{
  font-size: 2rem;
  font-weight: 300;
  background-color: $lightgreen;
  color: $white;
  max-width:11.3rem;
  width: 100%;
  padding: 0.6rem;
  text-align: center;
}

.card__family dd{
  margin-left: 1.4rem;
  font-size: 2.6rem;
  font-weight: 300;
}

.card__familyBtm{
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
}